footer {
    background-image: linear-gradient(to top, rgb(103, 102, 102), #030303);
    ul {
        list-style: none;
    }
}




.ul-footer li a {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    display: block;
    color: rgb(219, 210, 210);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.ul-footer li a:hover {
    background-color: #111;
    color: white;
    transition: color 1.5s;
    text-decoration: underline;
}
