@import './utilidades';
@import './header';
@import './principal';
@import './footer';
@import './paginas/peliculas';
@import './paginas/juegos';
@import './paginas/contacto';




/* formulario */



/* este imput.consulta lo hice para ajustar el cuadrado en el formulario para ajustar tamaño pero no funciono */

/* footer */


/* seccion peliculas */


.musicos {
    border: 3px solid white;
    padding: 0%;
    margin-bottom: 10px;
    width: 100%;
    background-position: center;
    background-attachment: fixed;

}

.deportistas {
    border: 3px solid white;
    padding: 0%;
    margin-bottom: 10px;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
}





@media (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .container {
        display: block;
    }

    .card {
        width: 100%;
    }

    .starwars {
        background-size: 100%;
    }

    .ContactoRedesh1 {
        overflow: hidden;
    }
}


@media (max-width: 420px) {
    .grid-container {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

    }

    .carousel {
        border: 2px solid black;
        float: right;
        width: 100vw;
        overflow: hidden;
    }

    .ContactoRedesh1 {
        overflow: hidden;
        font-size: small;
        text-align: center;
    }



}