@import './utilities/colores';
@import './utilities/fonts';
@import './utilidades';
@import './sections/header';
@import './sections/principal';
@import './sections/footer';
@import './paginas/peliculas';
@import './paginas/juegos';
@import './paginas/contacto';
@import './sections/responsive.scss';



