.musicos {
    border: 3px solid white;
    padding: 0%;
    margin-bottom: 10px;
    width: 100%;
    background-position: center;
    background-attachment: fixed;

}

.deportistas {
    border: 3px solid white;
    padding: 0%;
    margin-bottom: 10px;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
}


