.starwars {
    border: 3px solid white;
    background-image: url(../imagenes/starsbackround.jpg);
    padding: 0%;
    margin-bottom: 10px;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    
    .star {
        color: #ffe81f;
        font-family: starwars;
        font-size: 40px;
        animation: blink 5s infinite;
    }
}


.lotr {
    border: 3px solid white;
    background-image: url(../imagenes/lotrbackground.jpg);
    background-position: center;
    background-attachment: fixed;
    
    .lord {
        font-family: lotr;
        font-size: 40px;
        color: #c4b479;
        animation: blink 5s infinite;
    }

}


