@font-face {
    font-family: starwars;
    src: url(../fuentes/SfDistantGalaxyAlternate-OE4d.ttf);
}

@font-face {
    font-family: lotr;
    src: url(../fuentes/RINGM___.TTF);
}

@font-face {
    font-family: warcraft;
    src: url(../fuentes/LifeCraft_Font.ttf);
}

@font-face {
    font-family: darksouls;
    src: url(../fuentes/OptimusPrincepsSemiBold.ttf);
}

@font-face {
    font-family: league;
    src: url(../fuentes/Regular.ttf);
}
